body {
    margin: auto;
    color: #000000;
   /* background: #cfe1b9;*/
}

#header {
    margin-top: 10px;
    margin-left: 35%;
    margin-right: 35%;
    /*background: #87986a;*/
}

#InputText {
    font-size: xx-large;
}

#list_set {
    margin-top: 10px;
    margin-left: 35%;
    margin-right: 35%;
    /*background: #87986a;*/
}

#las {
    display: none;
}

#counter {
    margin-top: 10px;
    margin-left: 35%;
    margin-right: 35%;
    /*background: #87986a;*/
}

.X-button {
    clear: both;
    float: right;
    background: #cfe1b9;
    border: outset 2px #ffffff;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#RemoveAll {
    clear: both;
    float: right;
    background: #cfe1b9;
    border: outset 2px #ffffff;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

